.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  padding: 25px;
  background-color: #282c34ce;
  border-radius: 20px;
  width: 450px;
}

.Links {
  display: flex;
  flex-direction: row;
}

h4 {
  transition: all 0.5s ease;
  margin: 20px;
}
h4:hover {
  transition: all 0.5s ease;
  letter-spacing: 2px;
  color: darkorange;
  font-weight: bold;
}
