.Container {
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  padding: 25px;
  background-color: #282c34ce;
  border-radius: 20px;
  font-family: 'Manrope', sans-serif;
  transition: all 0.5s ease;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.Title {
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  min-width: 150px;
}

h6 {
  margin-top: 25px;
  font-family: 'Manrope', sans-serif;
}

input {
  font-family: 'Manrope', sans-serif;
  transition: all 0.5s ease;
  font-size: calc(0.5rem + 2vmin);
  margin-left: 15px;
  transition: all 0.5s ease;

  display: flex;
  color: whitesmoke;
  flex-direction: column;

  align-items: flex-start;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid slategray;
}

.InputEmail:focus + .LabelEmail,
.InputPassword:focus + .LabelPassword {
  transition: all 0.5s ease;
  color: darkorange;
}

input:valid {
  outline: none;
  //   margin-top: 30px;
  border-bottom: 1px solid green;
  transition: all 0.5s ease;
}

input:focus:valid {
  border-bottom: 1px solid green;
  transition: all 0.5s ease;
}

input:invalid {
  outline: none;
  transition: all 0.5s ease;
}

input:focus:invalid {
  //    border-bottom: 1px solid slategray;
  transition: all 0.5s ease;
}

input:focus + label,
textarea:focus + label {
  color: whitesmoke;
  //   transform: scale(0.9);
}

input:valid + label,
textarea:valid + label {
  //   transform: scale(0.9);
  color: whitesmoke;
}

input:required:invalid,
textarea:required:invalid,
input:focus:invalid {
  /* insert your own styles for invalid form input */
  box-shadow: none;
}
// input:not(:placeholder-shown) {
// //   margin-top: 30px;
// }

.Submit {
  transition: all 0.5s ease;
  margin-top: 20px;
  font-size: calc(0.5rem + 2vmin);
  border: none;
  background-color: transparent;
  color: whitesmoke;
}

.Submit:hover {
  transition: all 0.5s ease;
  letter-spacing: 2px;
  color: darkorange;
  font-weight: bold;
}
h1 {
  color: darkorange;
  text-align: end;
}

span {
  margin-left: 10px;
  color: darkorange;
  font-weight: bold;
}
h6 {
  transition: all 0.5s ease;
  text-align: center;
}
